@{
    ViewData["Title"] = "Confirm Logout";
}

<div class="text-center">
    <h1 class="display-4">🎸 Leaving So Soon?</h1>
    <p class="lead">Are you sure you want to log out of The Vinyl Countdown?</p>
    
    <form asp-controller="Account" asp-action="Logout" method="post">
        <button type="submit" class="btn btn-outline-primary me-2">
            <i class="bi bi-box-arrow-right"></i> Yes, Log Out
        </button>
        <a asp-controller="Albums" asp-action="Index" class="btn btn-secondary">
            <i class="bi bi-x-circle"></i> Cancel
        </a>
    </form>
</div>
